
.Layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: #fff;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
}

.Layout main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}